body {
	background-color: #f2f2f2;
}

header {
	
	/*background-image: url('../img/tomb5r.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 1920px;
	background-color: #4CAF50;
	opacity: 1;
	color: white;
	height: 4rem;
	line-height: 4rem;*/

}

/*.navbar {
	background-color: white;
}*/

.media {
	background-color: white;
	margin-bottom: 5px;
}


footer {

	/*background-image: url('../img/tomb5r2.jpg');
	height: 120px;*/

}