<h2>A franquia Tomb Raider</h2>
<p class="txtfonte">Fonte: Wikipedia</p>
<p>
    Tomb Raider é um videojogo de ação-aventura, décimo título da série Tomb Raider e o quinto produzido pela Crystal Dynamics. Foi publicado pela Square Enix em 5 de Março de 2013 para Microsoft Windows, PlayStation 3 e Xbox 360 . O primeiro de uma nova continuação, o jogo está definido para não fornecer nenhuma correlação com os lançamentos anteriores da série, sendo um reinicio que dá ênfase às origens da culturalmente influente personagem principal, Lara Croft.
</p>
<p>
    A história decorre em Yamatai, uma ilha onde a protagonista e os seus amigos naufragaram. Lara tem que salvá-los, além de ter que lutar contra os habitantes e os perigos naturais da ilha. A jogabilidade foca-se mais na sobrevivência e na ação, embora também se possa usar a exploração para conhecer Yamatai, revisitando locais, ou tentar completar missões secundárias, como as tumbas de desafio opcionais.

</p>
<p>
    Depois do lançamento de Tomb Raider: Underworld em 2008, a Crystal Dynamics começou imediatamente a produção de Tomb Raider. Ao invés de criar uma sequela, a equipe decidiu dar um novo recomeço à série, estabelecendo as origens da personagem principal pela segunda vez em um novo reboot. É o primeiro jogo da série que inclui multijogador e o primeiro também a ser publicado pela Square Enix, depois desta ter adquirido a Eidos Interactive em 2009. Camilla Luddington faz a voz de Lara, substituindo Keeley Hawes. Também é o primeiro videojogo da série que tem uma classificação "M" (inadequado a menores de 17 anos) pela Entertainment Software Rating Board (ESRB) e "18" (inadequado a menores de 18 anos) pela Pan European Game Information (PEGI).
</p>